<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mission06_jrencher</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*Shared Nav Bar for All Pages*@
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="MovieForm">Movie Form</a>
        <a asp-controller="Home" asp-action="Podcast">My Podcast</a>
    </nav>
    @*Dynamicaly displays the page you want to look at.*@
    <div>
        @RenderBody()
    </div>
</body>
</html>
