@{ 
    ViewData["Title"] = "Movie Added";
}

@*Receives the form data in MovieResponce. Displays the movie title dynamicaly in the page.*@
@model mission06_jrencher.Models.MovieResponse

<h2>@Model.Title Added</h2>
<p>May the Force Be With You.</p>