@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@*Creates homepage with a title, photo, and link*@
<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/JoelHilton.jpg" />

<a asp-controller="Home" asp-action="MovieForm">Enter a New Movie</a>